.container-pesquisa{
    position: relative;
}


.activepesq {
    border-radius: 5px 5px 0 0;
    border-top: 0 !important;
    border: 1px solid lightgray;
    width: 249px;
    padding: 10px;
    top: 48px;
    background: white;
    position: absolute;
    z-index: 2;
}


