.cores{
    --p-light: #e8e9ed;
	--p-light-h: #dcdee3;
	--p-light-a: #b6bbc6;
	--p-normal: #142447; 
	--p-normal-h: #122040; 
	--p-normal-a: #101d39;
	--p-dark: #0f1b35; 
	--p-dark-h: #0c162b; 
	--p-dark-a: #091020; 
	--p-darker: #070d19;


    --s-light: #faf7f2;
	--s-light-h: #f7f3eb;
	--s-light-a: #eee6d5;
	--s-normal: #c8af79; 
	--s-normal-h: #b49e6d;
	--s-normal-a: #a08c61;
	--s-dark: #96835b;
	--s-dark-h: #786949;
	--s-dark-a: #5a4f36;
	--s-darker: #463d2a;
}